<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PROJEKT | EXPRESS</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header class="main-header">
    <ul>
      <li><a href="/">main</a></li>
      <li><a href="/register">register</a></li>
      <li><a href="/login">login</a></li>
      <li><a href="/admin">admin</a></li>
    </ul>
  </header>
  <main class="page-container">
    {{{body}}}
  </main>
</body>
</html>
