<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HBSy</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header class="main-header sort">
    <ul>
      <li><a href="/admin">admin</a></li>
      <li><a href="/sort">sort</a></li>
      <li><a href="/gender">gender</a></li>
      <li><a href="/show">show</a></li>
    </ul>
  </header>
  <main class="page-container sort">
    {{{body}}}
  </main>
</body>
</html>
