<header class="main-header admin">
  <ul>
    <li><a href="/sort">sort</a></li>
    <li><a href="/gender">gender</a></li>
    <li><a href="/show">show</a></li>
  </ul>
</header>
<h1 class="main-heading">admin page</h1>
