<table class="table">
{{#each femaleUsers}}
  <tr>
    <td>id: {{id}}</td>
    <td>gender: {{gender}}</td>
  </tr>
{{/each}}
</table>
<table class="table">
{{#each maleUsers}}
  <tr>
    <td>id: {{id}}</td>
    <td>gender: {{gender}}</td>
  </tr>
{{/each}}
</table>
