<section class="form-container">
    <form class="files-form" action="/upload" method="post" enctype="multipart/form-data">
        <input name="files" type="file" multiple>
        <input type="submit" value="upload">
    </form>
</section>
